<h1><%= @songs.song_title %></h1>

<blockquote>
	<p> Author: <%= @songs.author %> </p>
	<a href="<%= @songs.url  %>"><%= @songs.song_title %></a>
</blockquote>
<hr/>
<a class="btn btn-success" href="/songs">Back to All songs</a>
